@model ShoeStore.Models.Shoe

@{
    ViewData["Title"] = "Shoe Edit" + " ";
    Layout = "_AdminLayout";
}

<div class="admin-title mt-4 mb-4">
    <ion-icon name="settings-outline"></ion-icon>
    <div class="admin-title-content">
        <h5>Shoe Management</h5>
        <span>This dashboard is created to manage products and invoices</span>
    </div>
</div>
<hr/>
<div class="container p-0">
    <h3 class="title-option mb-4">Edit</h3>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="BrandId" class="form-label"></label>
                <select asp-for="BrandId" class="form-select" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
                    @* <option selected=""></option> *@
                </select>
            </div>
        </div>
        <div class="mb-3 col-12">
            <label asp-for="Note" class="form-label"></label>
            <input asp-for="Note" class="form-control"/>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="Features" class="form-label"></label>
                <textarea asp-for="Features" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="d-flex h-100 flex-column justify-content-end">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active"/> @Html.DisplayNameFor(model =>
                                                                               model.Active)
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-3 mt-4 mb-4">
            <input type="submit" value="Save" class="btn-save"/>
            <a asp-action="Index" class="btn-back">Back to List</a>
        </div>
    </form>

    @*-- Color Variant --*@

    <div class="color-variant">
        <h3 class="title-option mb-4 mt-5">Color Variants List</h3>
        <div class="d-flex justify-content-start align-items-center flex-wrap gap-4">
            @foreach (var e in Model?.ShoeColors ?? Enumerable.Empty<ShoeColor>())
            {
                <div class="position-relative">
                    <span class="color-variant-name">@e.Color?.Name</span>
                    <a asp-controller="ShoeColors" asp-action="Edit" asp-route-id="@e.Id">
                        <div class="color-variant-img">
                            @if (e?.Images.Count() > 0)
                            {
                                <img src="@e.Images.OrderBy(e => e.SortOrder).First().Path" alt="">
                            }
                            else
                            {
                                <img src="" width="100px" height="100px" alt="">
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center align-items-center gap-3 mt-4 mb-4">
            <a class="btn-save" asp-controller="ShoeColors" asp-action="Create" asp-route-shoeId="@Model.Id">
                Add Color
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/lfdo7t0vx08h5t8cri8x87ev30fpw0tmfk9fhgi9klmzetm6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ]
        });
    </script>
}